@page "/Previstos/Excluir/{PrevistoId}"

<h1>Excluir Forma de Pagamento</h1>

<PrevistoForm Previsto="@Previsto" BotaoDescricao="Excluir"
                    IsReadOnly="true" OnValidSubmit="@HandleValidSubmitAsync" />