<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PersonalFinance</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Categorias/ResumoMensal" Match="NavLinkMatch.All">
                Overview
            </NavLink>
            <NavLink class="nav-link" href="Transacoes" Match="NavLinkMatch.All">
                Transactions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Previstos" Match="NavLinkMatch.All">
                Budget
            </NavLink>
            <NavLink class="nav-link" href="Categorias" Match="NavLinkMatch.All">
                Categories
            </NavLink>
            <NavLink class="nav-link" href="Contas" Match="NavLinkMatch.All">
                Accounts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Importador" Match="NavLinkMatch.All">
                Importar
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
