@page "/FormasPagamento/Editar/{FormaPagamentoId}"

<h1>Editar Forma de Pagamento</h1>

<FormaPagamentoForm FormaPagamento="@FormaPagamento" BotaoDescricao="Salvar" OnValidSubmit="@HandleValidSubmitAsync" />
