@page "/FormasPagamento/Excluir/{FormaPagamentoId}"

<h1>Excluir Forma de Pagamento</h1>

<FormaPagamentoForm FormaPagamento="@FormaPagamento" BotaoDescricao="Excluir"
           IsReadOnly="true" OnValidSubmit="@HandleValidSubmitAsync" />