@page "/Transacoes/Excluir/{TransacaoId}"

<h1>Excluir Transação</h1>

<TransacaoForm Transacao="@Transacao" BotaoDescricao="Excluir"
              IsReadOnly="true" OnValidSubmit="@HandleValidSubmitAsync" />