@page "/Categorias/Excluir/{CategoriaId}"

<h1>Excluir Categoria</h1>

<CategoriaForm Categoria="@Categoria" BotaoDescricao="Excluir"
           IsReadOnly="true" OnValidSubmit="@HandleValidSubmitAsync" />