@page "/Importador"
@inject HttpClient Http

<h1>Importar</h1>

<div>
    <div class="btn-group pull-right" role="group" aria-label="...">
        <button class="btn btn-primary" @onclick="OnSubmitAsync">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Importar
        </button>
    </div>

    <br />
    <br />

    @if (!string.IsNullOrEmpty(Mensagem))
    {
        string alertClass = "";

        if (IsError)
        {
            alertClass = "alert-danger";
        }
        else
        {
            alertClass = "alert-info";
        }

        <div class="alert @alertClass" role="alert">
            @Mensagem
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="ImportacaoTipo"></label>
                </div>

                <div class="col-md-12">
                    <select @bind="ImportacaoTipo" class="form-control">
                        @if (ImportacaoTipos != null)
                        {
                            foreach (var item in ImportacaoTipos)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label asp-for="Arquivo"></label>

                    <InputFile OnChange="@OnInputFileChangeAsync" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>